.sale {
  margin-top: 193px;
  display: flex;
  align-items: center;
  gap: 90px;
  background: linear-gradient(
    1.32deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
}
.sale__image {
  width: 51%;
  height: 968px;
  object-fit: cover;
}
.sale__image img {
  width: 100%;
  height: 100%;
}
.sale__content {
  width: 49%;
}
.heading-sale {
  max-width: 593px;
  font-size: 100px;
  font-weight: 700;
}

.sale__info {
  max-width: 643px;
  font-weight: 500;
  font-size: 34px;
  margin-top: 33px;
  margin-bottom: 40px;
}
.sale__duration {
  font-size: 36px;
  font-weight: 700;
}
.sale__warning {
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 51px;
}

@media screen and (max-width: 1024px) {
  .sale {
    flex-direction: column;
    padding: 40px 0;
    gap: 45px;
  }
  .sale__image {
    width: 100%;
    height: 100%;
  }
  .heading-sale {
    font-size: 75px;
  }
  .sale__info {
    font-size: 28px;
  }
  .sale__duration {
    font-size: 30px;
  }
  .sale__warning {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .heading-sale {
    font-size: 30px;
  }
  .sale__info {
    font-size: 18px;
  }
  .sale__duration {
    font-size: 24px;
  }
  .sale__warning {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
